* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Rubik', Roboto, Helvetica, Arial, sans-serif;
}
​ *,
:before,
:after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}

.App {
  text-align: center;
}
